h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;

}
h3 {
    font-size: 20px;
}
b {
    font-weight: bold;
}
ul{
    list-style-type: none;
}
/* .TextNormal {
    font-weight: normal;
}
.TextLarge {
    font-size: 1.5em;
    font-weight: normal;
}
.TextLarger {
    font-size: 2em;
    font-weight: normal;
} */

img.Icon {
    filter: brightness(0) saturate(100%) invert(17%) sepia(94%) saturate(5779%) hue-rotate(241deg) brightness(79%) contrast(120%);
    width: 40px;
    height: 40px;
    margin: 4px;
}
img.IconButton {
    filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7500%) hue-rotate(180deg) brightness(101%) contrast(114%) drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    width: 30px;
    height: 30px;
    margin: 4px;
}
img.IconButton:hover {
    filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(381%) hue-rotate(224deg) brightness(87%) contrast(86%);
}
button {
    border-radius: 50px;
    height: 60px;
    width: 250px;
    border: none;
}
button:hover {
    filter: brightness(150%);
}
input:focus{
    outline: none;
}

body {      /*Caractéristiques de mon body*/
    font-family: "GolosText-Black.ttf";
    font-weight: lighter;
    src: url('../fonts/Golos_Text/static/GolosText-Black.ttf') format('truetype');
    margin: 0;
    padding: 0;
    

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    color: var(--TextColorBright);
    font-size: 16px;

    --OtherColorPink: #F72585;
    --BackgroundColorDark: #000000;
    --TextColorBright: #FFFFFF;
    --TextColorDark: #000000;
    --TextColorBrightBlue: #0E1FD8;
    --ButtonColorBlue: #0E1FD8;
}

header {
    width: 100%;
    background-color: var(--BackgroundColorDark);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.HeaderLine {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeaderLine:nth-child(1) {
    justify-content: space-between;
}
 .HeaderLine:nth-child(4) {
    flex-direction: column;
}
#HeaderLogo{        /*Logo du site*/
    width: 180px;
    height: 50px;
    object-fit: cover;
}
.Gender {       /* Menu de séléction au centre du header "Homme,Femme,Enfant,Sport" */
    display: none;
}
main {
    width: 100%;
    box-sizing: border-box;
}
#BackgroundLogin{       /* Changer uniquement le fond du main de la page login */
    background-color: var(--BackgroundColorDark);
}

/* CSS de la page d'accueil (carousel) */

.Top{       /*Titre de la section dans les carousel*/
    color: var(--TextColorBrightBlue);
    margin: 50px;
}
.TopCarousel{       /*Regroupe le fond de couleur, le titre et les cards des carousels*/
    background-color: #00000010;
    padding: 10px;
    margin: 0;
    /* display: flex; */
}
.Carousel {
    overflow: hidden;
    position: relative;
}
.CarouselList {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.CarouselSlide {
    flex-shrink: 0;
    width: 100%;
    height: 500px;
    position: relative;
}
.CarouselSlide > img {         /*Image du carousel*/
    width: 100%;
    height: 96%;
    object-fit: cover;
}
.CarouselSlide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.CarouselSlideMiddleText {      /*Bouton rose au milieu du carousel*/
    background-color: var(--OtherColorPink);
    border-radius: 25px;
    padding: 10px 32px 10px 32px;
    color: var(--TextColorBright);
}
.CarouselButtonList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 16px;
    left: 0;
}
.CarouselButtonList > a {       /*Ronds rose en bas du 1er carousel*/
    background-color: var(--OtherColorPink);
    margin: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: inset 4px 0 4px -4px rgba(255,255,255,0.32), inset -4px 0 4px -4px rgba(255,255,255,0.32), 0px 4px 4px 0px rgba(0,0,0,0.16);  
}
.CardList {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    width: 100%;
    margin: auto;
    gap: 32px;
    margin-bottom: 100px;
    background-color: var(--BackgroundColor);
    padding: 16px;
    box-sizing: border-box;
}
.Card {
    border-radius: 25px;
    box-shadow: inset 4px 0 4px -4px rgba(255,255,255,0.32), inset -4px 0 4px -4px rgba(255,255,255,0.32), 0px 4px 4px 0px rgba(0,0,0,0.16);
    color: var(--TextColorBright);
    background-color: var(--BackgroundColor);
    width: 250px;
    height: 180px;
    overflow: hidden;
    box-sizing: border-box;
}
.Card:hover {
    transition: background-color 0.1s linear;
    background-color: var(--BackgroundColorDark);
}
/* .CardImgDiv {
    margin: auto;
    position: relative;
    border-radius: 25px;
    width: 245px;
    height: 245px;
    overflow: hidden;
} */
/* .CardImgDiv > img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 245px;
    height: 245px;
} */
.CardImgDiv > p {
    position: absolute;
    border-top-left-radius: 25px;
    padding: 4px;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 80px;
    background-color: var(--ButtonColorBlue);
    text-align: center;
}
.Card > p {
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
}
.CardTitre {
    font-size: 20px;
    font-weight: bold;
}

/* .Titres {
    text-align: center;
    margin: 16px;
} */

/*CSS de la page login*/

.Container{     /*fenêtre au centre pour se connecter ou s'inscrire*/
    display: flex;
    background-color: var(--BackgroundColorDark);
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: 100px auto 200px auto;
    padding: 20px;
    flex-direction: column;
    border: solid 1px var(--TextColorBright);
    border-radius: 10px;
}
.Tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    width: 100%;
}
.Tabs button {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    background-color: #00000000;
    color: var(--TextColorBright);
    transition: color 0.25s;
}
.Tabs button:disabled {
    text-decoration: underline;
}
.Tabs button:hover {
    color: var(--TextColorBrightBlue);
}
#Inscription{
    display: none;
}
.FormGroup {
    margin-bottom: 20px;
    text-align: left;
}
.FormGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.FormGroup input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
}
.FormGroup input:focus {
    outline: none;
    border-bottom: 1px solid var(--ButtonColorBlue);
}
.Btn {
    color: #FFFFFF;
    background-color:var(--ButtonColorBlue);
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 50px 0 20px 0;
}
#Subscribe{
    color: #FFFFFF;
    background-color:var(--ButtonColorBlue);
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0px;
}
.SocialIcons {
    display: flex;
    justify-content: center;
    gap: 90px;
    filter: brightness(0) saturate(100%) invert(17%) sepia(94%) saturate(5779%) hue-rotate(241deg) brightness(79%) contrast(120%);
    margin-top: 30px;
}
.Container p{
    margin-bottom: 80px;
}

#SimpleSearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 50px auto 80px auto;
    width: 90%;
    border-radius: 25px;
    padding: 10px 16px 10px 16px;
    box-shadow: inset 4px 0 4px -4px rgba(255,255,255,0.32), inset -4px 0 4px -4px rgba(255,255,255,0.32), 0px 4px 4px 0px rgba(0,0,0,0.16);
    color: var(--TextColorBright);
    background-color: var(--BackgroundColorDark);
}











footer {
    width: 100%;
    background-color: var(--BackgroundColorDark);
    /* padding: 16px; */
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3em;       /* Gérer l'espacement de mes div dans le footer (se fait automatiquement) */
}

#FooterReseauxDesktop{
    display: none;
}
#FooterReseauxMobile {         /* Disposition de mes icones de Réseaux sociaux */
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    filter: brightness(0) saturate(100%) invert(99%) sepia(68%) saturate(2%) hue-rotate(192deg) brightness(117%) contrast(100%);
    flex-wrap: wrap;
    gap: 1em;
}
#SocialMedia{       /*Gère la disposition/l'espacement de mes icons sur mobile*/
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#FooterReseauxMobile img{           /* Taille de mes icones */
    width: 40px;
    height: 40px;
}

#FooterNewsletter{      /*Ma partie newletter du "hr" jusqu'à la barre de mail*/
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
/* Style pour le select et les input dans le footer */
#FooterNewsletter input, button{
    color: var(--TextColorDark);
    font-size: 16px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}
/* PlaceHolder */
#FooterNewsletter input::placeholder{
    color: var(--TextColorDark);
    opacity: 0.5;
    font-style: italic;
}
#FooterNewsletter span{
    color: var(--TextColorBright);  
    font-size: 32px;
}
#FooterNewsletter p{
    font-size: 16px;
}
#FooterNewsletter #FooterInputEmail{
    width: 100%;
}
#FooterNewsletter > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#FooterNewsletter > div input{
    width: 40%;
}
#FooterMentionMobile{
    text-align: center;
    width: 100%;
}
#FooterMentionMobile details{
    margin-bottom: 32px;
}
#FooterMentionMobile details > summary {
    list-style: none;
    position: relative;
    width: auto;
    max-width: 320px;
    margin: auto;
}
#FooterMentionMobile details > summary::after {
    position: absolute;
    right: 0%;
    content: ' ►';
}
#FooterMentionMobile details[open] summary:after {
    position: absolute;
    right: 0%;
    content: " ▼";
}

#FooterMentionDesktop {
    display: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    max-width: 1000px;
    width: 90%;
}
#FooterMentionDesktop li{
    list-style-type: none;
}
#FooterMentionDesktop ul{
    text-align: center;
    line-height: 2em;
    padding: 0px;
}
/* Déplacé les règles ul/li sur le footer*/
#FooterMentionMobile ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    padding: 0px;
}
#HrNewletter{       /* Barre de séparation au dessus "NESLETTER" */
    width: 20%;
    border: solid 1px var(--TextColorBright);
    border-radius: 10px;
}




/* 
#SimpleSearchBar > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#SimpleSearchBar input{
    flex: 1;
    background-color: #00000000;
    border: none;
    font-size: 20px;
    color: var(--TextColorBright);
}
.trekInfos{
    display: flex;
    flex-direction: column; 
    width: 90%;
    margin: auto auto 70px auto;  
}

#description div{
    display: flex;
    justify-content: space-between;
    margin: 50px;

}
#description > *{
    margin: 50px;
}
#description h2{
    margin: auto;
    text-align: center;
}
#topologie{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto auto 70px auto;
}

#topologie img{
    border-radius: 50px;
}

#VacationSearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 50px auto 80px auto;
    width: 90%;
    border-radius: 25px;
    padding: 10px 16px 10px 16px;
    box-shadow: inset 4px 0 4px -4px rgba(255,255,255,0.32), inset -4px 0 4px -4px rgba(255,255,255,0.32), 0px 4px 4px 0px rgba(0,0,0,0.16);
    color: var(--TextColorBright);
    background-color: var(--BackgroundColor);
}
#VacationSearchBar > div{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
} */

@media (min-width: 768px) {
    img.Icon {
        width: 40px;
        height: 40px;
        margin: 16px;
    }
    img.IconButton {
        width: 30px;
        height: 30px;
        margin: 16px;
    }
    #Burger{
        display: none;
    }
    header {
        padding: 2em;
        gap: 16px;
    }
    .HeaderLine:nth-child(1) > :nth-child(1) {
        display:none;
    }
    .HeaderLine:nth-child(n+2) {
        display:flex;
    }
    #HeaderLogo{
        width: 200px;
        height: 100px;
    }
    #Inscription{
        display: block;
    }
    .Container p{
        display: none;
    }
    .CardList {
        width: 80%;
        background-color: none;
        background-color: #00000000;
    }
    #FooterReseauxMobile{
        display: none;
    }
    #FooterReseauxDesktop{         /* Disposition de mes icones de Réseaux sociaux */
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 20px;
        align-items: center;
        filter: brightness(0) saturate(100%) invert(99%) sepia(68%) saturate(2%) hue-rotate(192deg) brightness(117%) contrast(100%);
        flex-wrap: wrap;
    }
    
    #FooterReseauxDesktop img{           /* Taille de mes icones */
        width: 40px;
        height: 40px;
    }
    #FooterNewsletter{
       max-width: 1000px;
       width: 90%;
    }
    #HrNewletter{
        width: 8%;
        border: solid 1px var(--TextColorBright);
        border-radius: 10px;
    }
}
@media (min-width: 900px){
    #FooterMentionDesktop {
        display: flex;
    }
    #FooterMentionMobile {
        display: none;
    }
    #FooterMentionDesktop{
        flex-direction: row;
        align-items: start;
        max-width: 1000px;
        width: 90%;
    }
    .Gender{
        display: inline;
        width: 50%;
        
    }
    .Gender ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }
}